# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\MainAccount\Dropbox\University\Second Year\SCC211 - Operating Systems\Threading and Concurrency\Code Snippets\ThreadingCW\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
